.image-fit {
  width:80%;
  height:300px;
  object-fit:cover;
}


.book-fit {
}

.img-cont {
  width:900px;
  height:900px;
  text-align: center;
}


.book-fit {
  width: 50%;
  height: 500px;
  object-fit:cover;
}
