<div class="footer d-flex justify-content-center">
  <div class="footer-links">
    <h1>Follow Us</h1>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <h6>2020, Le Wagon Batch #410 - RentaBook</h6>
  </div>
</div>