



<div class="show-box ">
  <div class="rentalconfirmationcontainer border-right border-left border-dark">
    <ul class="margintb list-group mb-2"><strong>Booking Details</strong>
      <li class="pt-2 list-group-item">Book Title:</li>
      <li class="list-group-item" >Author:</li>
      <li class="list-group-item">Pickup Location:</li>
      <li class="list-group-item">Total Cost:</li>
      <li class="list-group-item">Rental Dates xx-xx</li>
      <%= link_to 'Back to all books', books_path, class:"btn btn-gradient mt-3"%>
      <div class="alert alert-success" role="alert">
      Successfull Booking!
      </div>
     </ul>
  </div>
</div>




