<body>
  <div style="background-color: white" class = "container">
    <h1 class="left-margin">Insert Category Here</h1>
   <div class = "row">
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
    </div>
  </div>

</body>
