
<!-- main container incl the listed book product cards -->
  <div style="background-color: white" class = "container">

    <h1 class="left-margin">Insert Category Here</h1>
     <div class = "row">

        <% @books.each do |book| %>
          <div class="card-product col-sm-6">
            <!-- <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" /> -->
            <%= cl_image_tag book.photo.key, height: 300, width: 200, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= link_to book.title, book_path(book)%></h2>
              <h2><%= book.author %></h2>
              <a><%= link_to "More details", book_path(book), class: "btn btn-primary" %></a>
              <p></p>
            </div>
          </div>
        <% end %>

        <!-- TEMPLATE -->
        <!-- <div class="card-product col-sm-6">
          <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
          <div class="card-product-infos">
            <h2>Sapiens: A Brief History of Humankind</h2>
            <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
          </div>
        </div> -->

      </div>
  </div>
