<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src=<%= image_path "logo.jpg" %>/>
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#about" style="color:#838da7">About Us</a>
  <a href="#contact" style="color:#838da7">All Categories</a>
	<input type="text" placeholder="Search by title...">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:#838da7">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#838da7">Sign Up</a>
      </li>
    </ul>
  </div>
</div>



  <div style="background-color: white" class = "container">
    
    <h1 class="left-margin">Insert Category Here</h1>
   <div class = "row">
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
      <div class="card-product col-sm-6">
        <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
        <div class="card-product-infos">
          <h2>Sapiens: A Brief History of Humankind</h2>
          <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
        </div>
      </div>
    </div>
  </div>

<div class="footer d-flex justify-content-center">
  <div class="footer-links">
    <h1>Follow Us</h1>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <h6>2020, Le Wagon Batch #410 - RentaBook</h6>
  </div>
</div>
