.banner {
    background-size:100% auto;
    background-position: center;
    padding: 150px 0;
}

.banner h1 {
    margin: 0;
    color: #383F51;
    position: relative;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: bolder;
}

.banner p {
    font-size: 20px;
    color: #383F51;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .container {
    position: relative;
    left: -100px;
    bottom: -40px;
}
