.btn-color {
  color: white;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(81, 88, 109);
  transition: background 0.3s ease;
}

.btn-color:hover {
  color: white;
  background: rgb(142, 152, 180);
}
