.card-why {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 2px #4e4d4d;
    text-align: center;
    padding: 10px;
    margin-right: 70px;
}
  
.card-why img {
    height: 250px;
}
  
.card-why h3 {
    color: #00263b;
    font-size: 25px;
    font-weight: 300;
}
  
.card-why p{
    font-size: 16px;
    font-weight: 300;
}

.cards-why {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 60px;
}

.container-why {
    width: 900px;
    margin: auto;
    font-size: 20px;
    color: #383F51;
    text-align: center;
    
}


.cards-why h2 {
    font-size: 20px;
    color: #383F51;
    margin: 100px;
    text-align: center;
}

.cards-why h3 {
    font-size: 30px;
    color: #383F51;
}